
.dark
{
    
    font-size: 1em;
    text-align: center;
     background-color: none;
    position: absolute;
    left: 200px; 
    top: 500px;
    width: auto;
    color: white;
  }


.house
{
    
    font-size: 1em;
    text-align: center;
     background-color: none;
    position: absolute;
    left: 200px; 
    top: 500px;
    width: auto;
    color: white;
  }
@font-face {
  font-family: "sauron";
  src: url('anicb___.ttf');
  src: url('anicm___.ttf');
  src: url('anirb___.ttf');
  src: url('anirm___.ttf');
}

body{
  font-family: sauron;
  font-style: normal;
 
}

.bg-light {

  background-color: red;
}

strong {
    color: orange;
    font-weight: normal;
  }
  
  figure {
    background-size: cover;
    width: 200px;
    height: 200px;
    position: relative;
  }
  
  figure img {
    width:200px;
    opacity: 0.5;
  }
  
  figure:hover img {
    opacity: 1;
  }
  
  figure:hover figcaption {
    display: none;
  }
  
  
  figcaption {
    border-radius: 20px;
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    left: 10px;
    top: 10px;
    width: 180px;
  }
  
  figcaption p {
    margin: 0;
  }